extends layout.pug

block content
  h1 Blog Posts
  ul
    each post in posts
      li
        a(href=`/post/${post.id}`)= post.title
        | - Category: #{categories.find(c => c.id == post.categoryId).name}
        | - 
        a(href=`/edit/${post.id}`) Edit
        | - 
        a(href=`/delete/${post.id}`) Delete

  a(href="/create") Create a new post
