html
  head
    title BlogWithCategoriesAndComments
    link(rel="stylesheet", href="/styles.css")
  body
    header
      nav
        ul
          li: a(href="/") Home
          li: a(href="/create") Create Post
          li: a(href="/createCategory") Create Category
    main
      block content
    footer
      p &copy; 2025 BlogWithCategoriesAndComments
